.about-grid {
    display: grid;
    column-gap: 40px;
    row-gap: 10px;
}

.github-icon {
    background-image: url("../img/github_icon.png");
}

.linkedin-icon {
    background-image: url("../img/linkedin_icon.png");
}

.phone-icon{
    background-image: url("../img/phone_icon.png");
}

.email-icon{
    background-image: url("../img/email_icon.png");
}

@media screen and (max-width: 799px) {
    .about-grid {
        grid-auto-flow: row;
        row-gap: 10px;
        grid-template-columns: 1;
        justify-content: center;
        justify-items: left;
    }
}

@media screen and (min-width: 800px) {
    .about-grid {
        grid-auto-flow: column;
        row-gap: 5px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto;
        justify-items: center;
    }
}