.about-grid {
    display: grid;
    column-gap: 50px;
    row-gap: 10px;
}

.github-icon {
    background-image: url("../img/github_icon.png");
}

.linkedin-icon {
    background-image: url("../img/linkedin_icon.png");
}

#about img {
    grid-row-start: 1;
    grid-row-end: 5;
}

@media screen and (max-width: 799px) {
    .about-grid {
        grid-auto-flow: row;
        row-gap: 10px;
        grid-template-columns: auto;
        justify-items: left;
        justify-content: center;
    }
}

@media screen and (min-width: 800px) {
    .about-grid {
        grid-auto-flow: column;
        row-gap: 15px;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);
        justify-items: left;
        justify-content: stretch;
        align-items: center;
    }

    #about .second-col{
        grid-column-start: 2;
    }
    
    #about .third-col{
        grid-column-start: 3;
    }
    
}