#homepage {
  /*Position the scroll arrow relative to this section.*/
  position: relative;
  height: 100vh;
  background-color: #F5F5F5;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

#homepage a {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

#homepage a:hover, #homepage a:active {
  transform: translateX(-50%) translateY(10%);
}


.homepage-flex {
  /* Make this container occupy the full section' space. */
  width: 100%;
  height: 100%;
  display: flex;
  /*stretch the flex item to occupy their full cross direction.*/
  align-items: stretch;
}

.homepage-flex-item {
  overflow: visible;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}

#profile-pic {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}

@media screen and (max-width: 899px) {
  .homepage-flex {
    flex-direction: column;
  }

  #profile-pic {
    background-image: url("../img/profile_pic_small.jpg");
  }
}

/* tablet-landscape-up min-width */
@media screen and (min-width: 900px) {
  .homepage-flex {
    flex-direction: row;
  }

  #profile-pic {
    background-image: url("../img/profile_pic_big.jpg");
  }
}