@import url("https://fonts.googleapis.com/css?family=Nunito|Raleway");

html {
  /*Default color for text*/
  color: #0e2431;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.07em;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-family: "Nunito", sans-serif;
}

h2,
h3 {
  margin-bottom: 2em;
  font-family: "Raleway", sans-serif;
}

p {
  margin-bottom: 1em;
  font-size: 1.2em;
  line-height: 1.4em;
}

p:last-of-type {
  margin-bottom: 0;
}

/*This needs to be combined with another rule that defines "background-image: ...*/
.icon {
  /* Only one icon */
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 16px;
  /* Reserve some space after the link, so the background image do not overlap with the text.*/
  padding-right: 21px;
}

article {
  /* top right bottom left; */
  padding: 6em 2em 6em 2em;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

mark {
  color: #ea4c4c;
  background: none;
}

section {
  background-color: white;
}

/* https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
a.anchor {
  display: block;
  position: relative;
  /*As much space as the navigation bar height.*/
  top: -63px;
  visibility: hidden;
}

.justify-right {
  justify-self: right;
}

/* -------------- */
/* Section Pimary */
/* -------------- */
.section-primary {
  background-color: #28536b;
}

.section-primary p,
.section-primary h3 {
  color: #f5f5f5;
}

.section-primary a:link {
  color: #fbb13c;
}

.section-primary a:visited {
  color: #fbb13c;
}

.section-primary a:hover {
  color: #ea4c4c;
}

.section-primary a:active {
  color: #ea4c4c;
}

.section-primary mark {
  color: #fbb13c;
  background: none;
}

/* ----------------- */
/* Section Secondary */
/* ----------------- */
.section-secondary {
  background-color: #0e2431;
}

.section-secondary h5 {
  color: #f5f5f5;
  padding-top: 1em;
}

.section-secondary p {
  color: #f5f5f5;
}

.section-secondary {
  color: #bbbbbb;
}

.section-secondary a:link {
  color: #bbbbbb;
}

.section-secondary a:visited {
  color: #bbbbbb;
}

.section-secondary a:hover {
  color: #ea4c4c;
}

.section-secondary a:active {
  color: #ea4c4c;
}

.section-secondary mark {
  color: #fbb13c;
  background: none;
}

/* https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/ */
/* phone-only */
@media screen and (max-width: 599px) {
  h1 {
    font-size: 3.4em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }
}

/* tablet-portrait-up */
@media screen and (min-width: 600px) {
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.7em;
  }

  p {
    font-size: 1.2em;
  }
}

/* tablet-landscape-up min-width */
@media screen and (min-width: 900px) {
  h1 {
    font-size: 6em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.7em;
  }

  p {
    font-size: 1.2em;
  }
}

/* desktop-up */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 7em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
  }

  p {
    font-size: 1.2em;
  }
}

.thumbnail-container {
  /*inline: the element width won't grow past its content size.*/
  display: inline-block;
  margin-bottom: 3em;

  /*offset x, offset y, blur radius, color*/
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);

  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}

.thumbnail-container:hover {
  /*offset x, offset y, blur radius, color*/
  box-shadow: 4px 6px 35px rgba(0, 0, 0, 0.3);
}

.thumbnail {
  /*The image width won't excess its parent container.*/
  max-width: 100%;
}
