@import url('https://fonts.googleapis.com/css?family=Nunito|Raleway');

html {
  /*Default color for text*/
  color: #0E2431;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.07em;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

p {
  margin: 0;
  font-size: 1.2em;
}

.medium-padding {
  padding: 2em;
}

article {
  /* top right bottom left; */
  padding: 6em 2em 6em 2em;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.big-word {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

mark {
  color: #EA4C4C;
  background: none;
}

.underline {
  text-decoration: underline;
}

section:nth-of-type(2n) {
  background-color: white
}

.soft-white {
  color: #F5F5F5;
}

/* https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/ */
/* phone-only */
@media screen and (max-width: 599px) {
  h1 {
    font-size: 3.4em;
  }

  .big-word {
    font-size: 2.7em;
  }

  .medium-word {
    font-size: 1.5em;
  }

  p {
    font-size: 1.2em;
  }
}

/* tablet-portrait-up */
@media screen and (min-width: 600px) {
  h1 {
    font-size: 5em;
  }

  .big-word {
    font-size: 4.5em;
  }

  .medium-word {
    font-size: 1.7em;
  }
  p {
    font-size: 1.2em;
  }
}

/* tablet-landscape-up min-width */
@media screen and (min-width: 900px) {
  h1 {
    font-size: 6em;
  }

  .big-word {
    font-size: 4.5em;
  }

  .medium-word {
    font-size: 1.7em;
  }
  p {
    font-size: 1.2em;
  }

}

/* desktop-up */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 7em;
  }

  .big-word {
    font-size: 6em;
  }

  .medium-word {
    font-size: 2.0em;
  }

  p {
    font-size: 1.5em;
  }
}

.grid-display {
  display: grid;
  /*number of column: auto-fill (=as much space as possible), size of each column: min is 200px, max is 1fraction.*/
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto)
}

.container>div {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(207, 232, 220);
  border: 2px solid rgb(79, 185, 227);
}