@import url('https://fonts.googleapis.com/css?family=Nunito|Raleway');

html {
  /*Default color for text*/
  color: #0E2431;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.07em;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-family: 'Nunito', sans-serif;
}

h2,
h3 {
  margin-bottom: 2em;
  font-family: 'Raleway', sans-serif;
}

p {
  margin-bottom: 1em;
  font-size: 1.2em;
  line-height: 1.4em;
}

p:last-of-type {
  margin-bottom: 0;
}

/*This needs to be combined with another rule that defines "background-image: ...*/
.icon {
  /* Only one icon */
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  /* Reserve some space after the link, so the background image do not overlap with the text.*/
  padding-right: 21px;
}

article {
  /* top right bottom left; */
  padding: 6em 2em 6em 2em;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

mark {
  color: #EA4C4C;
  background: none;
}

section {
  background-color: white;
}

/* -------------- */
/* Section Pimary */
/* -------------- */
.section-primary {
  background-color: #28536b;
}

.section-primary p,
.section-primary h3 {
  color: #F5F5F5;
}

.section-primary a:link {
  color: #fbb13c;
}

.section-primary a:visited {
  color: #fbb13c;
}

.section-primary a:hover {
  color: #EA4C4C;
  ;
}

.section-primary a:active {
  color: #EA4C4C;
  ;
}

.section-primary mark {
  color: #fbb13c;
  background: none;
}

/* ----------------- */
/* Section Secondary */
/* ----------------- */
.section-secondary {
  background-color: #0E2431;
}

.section-secondary h5 {
  color: #F5F5F5;
  padding-top: 1em;
}

.section-secondary p {
  color: #F5F5F5;
}

.section-secondary small {
  color: #bbbbbb;
}

.section-secondary a:link {
  color: #bbbbbb;
}

.section-secondary a:visited {
  color: #bbbbbb
    /*#fbb13c*/
  ;
}

.section-secondary a:hover {
  color: #EA4C4C;
  ;
}

.section-secondary a:active {
  color: #EA4C4C;
  ;
}

.section-secondary mark {
  color: #fbb13c;
  background: none;
}

/* https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/ */
/* phone-only */
@media screen and (max-width: 599px) {
  h1 {
    font-size: 3.4em;
  }

  h2 {
    font-size: 2.7em;
  }

  h3 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.2em;
  }
}

/* tablet-portrait-up */
@media screen and (min-width: 600px) {
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 4.5em;
  }

  h3 {
    font-size: 1.7em;
  }

  p {
    font-size: 1.2em;
  }
}

/* tablet-landscape-up min-width */
@media screen and (min-width: 900px) {
  h1 {
    font-size: 6em;
  }

  h2 {
    font-size: 4.5em;
  }

  h3 {
    font-size: 1.7em;
  }

  p {
    font-size: 1.2em;
  }

}

/* desktop-up */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 7em;
  }

  h2 {
    font-size: 6em;
  }

  h3 {
    font-size: 2.0em;
  }

  p {
    font-size: 1.2em;
  }
}