section:nth-child(3) {
    background-color: #0E6BA8;
}

section:nth-child(3)  p {
    color: #F5F5F5;
}

.process-grid {
    margin-top: 4em;
    display: grid;
    /*https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids*/
    /*grid-template-column: attend une liste de tailles de colonnes.*/
    /* repeat(3, 50px):; définit 3 colonnes de 50px*/
    /* repeat(autofill, 50px) définit (grosso merdo) autant de colonnes de 50px qu'il en faut pour remplir la taille du conteneur parent*/
    /*number of column: auto-fill (=as much space as possible), size of each column: min is 200px, max is 1fraction.*/
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
    grid-auto-rows: auto;
}

.process-card {
    /* border-radius: 5px; */
    padding: 10px;
    height: 200px;
    background-color: #F5F5F5;
    border: 1px solid #EFEFEF;
}