/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.process-grid {
    margin-top: 4em;
    display: grid;
    /*https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids*/
    /*grid-template-column: expects a list of columns size.*/
    /* repeat(3, 50px): defines 3 50px column .*/
    /* repeat(autofill, 50px)  defines as many 50px columns needed to fill its parent container. */
    /* minmax(200px, 1fr) defines a range that goes from 200px up to the full container's width (fr = fraction).*/
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 1.5em;
    grid-auto-rows: auto;
}

.process-card {
    position: relative;
    padding: 10px;
    min-height: 240px;
    background-color: white;
    
    border: 1px solid #EFEFEF;
    /*offset x, offset y, blur radius, color*/
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.process-card:hover {
    box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
  }

.process-card-text {
    position: absolute;
    bottom: 0.7em;
    left: 0;
    width: 100%;
    text-align: center;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.process-card-flex {
    /*Center the svg horizontally and vertically.*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.process-card>img {
    margin-top: 20px;
    margin-bottom: 100px;
}